#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
h1, h2, h3, h4 {
    background-color: #7000FF;
    color: Yellow;
    border: 1px;
    border-style: solid;
    border-color: #D6A800;
    padding: 10px;
}
a {
    text-decoration: none;
    color: #7000FF;
}
a:hover {
    color: Yellow;
}
a:visited {
    color:#D6A800;
}