body {
    margin: 0;
}
footer {
    width: 100%;
    background-color: purple;
    position: absolute;
    bottom: 0;
}
footer a {
    float: right;
    font-weight: 400;
    padding-right: 10px;
    font-style: italic;
    color: yellow;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
footer p {
    color: white;
    font-weight: 400;
    float: right;
    padding: 10px;
    font-style: italic;
}

header {
    background-color:purple;
    color: yellow;
    padding: 20px;
    text-align: center;
}
h1 {
    font-weight: 400;
}
#navbar {
    overflow: hidden;
    background-color: lightslategrey;
    border-bottom: 15px solid purple;
}
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar a:hover {
    background-color: purple;
    color: yellow;
}
#container {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}
.card {
    box-shadow:  rgba(0, 0, 0, 0.2) 0 4px 8px 0;
    transition: 0.3s;
    width: 50%;
}
.card-title {
    text-align: center;
    font-size: 2em;
    color: purple;
    font-weight: 400;
}
.card-content {
    padding: 2px 16px;
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 8px 16px 0;
}
